/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
data
employeeImages
meters
profilePic
projectImages
requirements
subWardImages
uploads
wardImages
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.vscode
artisan
bootstrap
browserconfig.xml
config
error_log
favicon.ico
manifets.json
public
robots.txt
storage
tests
web.config
webpack.mix.js
.htaccess
vendor
/vendor/*
